<section>
  <div>
    <% if @bookmarked %>
      <button>
        <%= link_to 'Unbookmark', bookmark_path(@bookmarked), method: :delete %>
      </button>
    <% else %>
      <%= form_for (Bookmark.new) do |f| %>
        <%= render partial: 'shared/form_error', locals: { object: Bookmark.new } %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :question_id, value: @question.id %>
        <%= f.submit "Bookmark" %>
      <% end %>
    <% end %>
    <h3>
      Vote: <%= @question.vote %>
    </h3>
    <button>
      <%= link_to 'Up', upvote_question_path(@question), method: :post%>
    </button>
    <button>
      <%= link_to 'Down', downvote_question_path(@question), method: :post%>
    </button>
  </div>
  <div>
    <h1>
      Question: <%= @question.title %>
    </h1>
    <button>
      <%= link_to 'Edit', edit_question_path(@question) %>
    </button>
    <button>
      <%= link_to 'Delete', question_path(@question), method: :delete %>
    </button>
  </div>
  <div>
    <%= @question.content %>
  </div>
</section>

<section>
  <div>
    <h1>Answer</h1>
  </div>
  
  <% @question.answers.all.each do |answer| %>
    <h3>
      Vote : <span id='answer_<%= answer.id %>_vote'><%= answer.vote %></span>
    </h3>
    <%= answer.body %>
    <button>
      <%= link_to 'Up', question_answer_vote_path(@question, answer, voting: 'upvote'), method: :post, remote: true %>
    </button>
    <button>
      <%= link_to 'Down', question_answer_vote_path(@question, answer, voting: 'downvote'), method: :post, remote: true %>
    </button>
    <button>
      <%= link_to 'Delete', question_answer_path(@question, answer), method: :delete %>
    </button>
    <br>
    
    <% answer.comments.each do |comment| %>
      <br>
      <%= comment.body %>
      <%= link_to 'Delete', question_answer_comment_path(@question, answer, comment), method: :delete %>
    <% end %>

    <%= form_for ([@question, answer, @comment]), data: { turbo: false } do |f| %>
      <%= render partial: 'shared/form_error', locals: { object: @comment } %>
      <%= f.text_area :body, placeholder: 'Add your comment here'%>
      <%= f.submit "Comment" %>
    <% end %>
  <% end %>
</section>

<section>
  <h1>New Answer</h1>
  <%= form_for ([@question, @answer]) do |f| %>
    <%= f.text_area :body, placeholder: 'Post your answer here' %>
    <%= f.submit "Post" %>
  <% end %>
</section>