<section>
  <div>
    <h3>
      Vote: <%= @question.vote %>
    </h3>
    <button>
      <%= link_to 'Up', upvote_question_path(@question), method: :post%>
    </button>
    <button>
      <%= link_to 'Down', downvote_question_path(@question), method: :post%>
    </button>
  </div>
  <div>
    <h1>
      Question: <%= @question.title %>
    </h1>
    <button>
      <%= link_to 'Edit', edit_question_path(@question) %>
    </button>
    <button>
      <%= link_to 'Delete', question_path(@question), method: :delete %>
    </button>
  </div>
  <div>
    <%= @question.content %>
  </div>
</section>

<section>
  <div>
    <h1>Answer</h1>
  </div>
  <% @question.answers.all.each do |answer| %>
    <h3>
      Vote : <span id='answer_<%= answer.id %>_vote'><%= answer.vote %></span>
    </h3>
    <%= answer.body %>
    <button>
      <%= link_to 'Up', question_answer_vote_path(@question, answer, voting: 'upvote'), method: :post, remote: true %>
    </button>
    <button>
      <%= link_to 'Down', question_answer_vote_path(@question, answer, voting: 'downvote'), method: :post, remote: true %>
    </button>
    <button>
      <%= link_to 'Delete', question_answer_path(@question, answer), method: :delete %>
    </button>
  <% end %>
</section>

<section>
  <%= form_for ([@question, @answer]) do |f| %>
    <%= f.text_area :body, placeholder: 'Post your answer here' %>
    <%= f.submit "Post" %>
  <% end %>
</section>