<h1> <%= current_user.email %> </h1>

<%= image_pack_tag 'media/images/hot-air-balloon.jpg' %>

<%= form_with model: @search do |f| %>
  <%= f.text_field :query %>
  <%= f.submit 'search' %>
<% end %>

<button>
  <%= link_to 'Ask', new_question_path %>
</button>

<section>
  <h1>Your Question</h1>
  <% @questions.each do |question| %>
    <br>
    <%= link_to "#{question.title}", question_path(question) %>
  <% end %>
</section>

<section>
  <h1>Your Bookmarked Question</h1>
  <% @bookmarks.each do |bookmark| %>
    <br>
    <%= link_to "#{bookmark.question.title}", question_path(bookmark.question) %>
  <% end %>
</section>